<%= stylesheet_link_tag 'user_informations/user_information.css' %>
<%= javascript_include_tag "user_informations/user_information.js" %>
<div class="user_information_main">
<div id="user_info_list" class="user_information_control">
  <div>
    <span>基本信息</span>
  </div>
  <div class="tags">
    <div class="tag">
      <span>名字</span>
      <span id="name" onclick="set_name()" style="float: right;margin-right: 30px;">无</span>
      <input onchange="get_name(this.value)" style="float: right;display: none;margin-right: 30px;margin-top: 20px;" type="text" id="input_name" />
    </div>
  </div>
  <div class="tags">
    <div class="tag">
      <span>性别</span>
      <span id="sex" style="float: right;margin-right: 30px;width: 14px;" onclick="set_sex()">男</span>
      <from id="sex_list" style="display: none;float: right;margin-right: 30px;">
        <select onchange="get_sex(this.value)">
          <option >无</option>
          <option value="男" >男</option>
          <option value="女" >女</option>
        </select>
      </from>
    </div>
  </div>
  <div class="tags">
    <div class="tag">
      <span>生日</span>
      <span id="date_birth" style="float: right; margin-right: 30px;" onclick="set_date()"></span>
      <input style="display: none;float: right;margin-top: 14px;" id="date" type="date" value="1995-07-15"/>
    </div>
  </div>
  <div class="tags">
    <div class="image_width" onclick="get_hobby()">
      <%= image_tag "arrow_right",:class => 'right_image' %>
      <span id="hobby"></span>
    </div>
    <div class="tag">
      <span>爱好</span>
    </div>
  </div>
  <div class="tags">
    <div class="image_width" onclick="get_degree()">
      <%= image_tag "arrow_right",:class => 'right_image' %>
      <span id="degree"></span>
    </div>
    <div class="tag">
      <span >学历</span>
    </div>
  </div>
  <div class="tags">
    <div class="image_width" onclick="get_height()">
      <%= image_tag "arrow_right",:class => 'right_image' %>
      <span id="height"></span>
    </div>
    <div class="tag">
      <span>身高</span>
    </div>

  </div>
  <div class="tags">
    <div class="image_width" onclick="get_work()">
      <%= image_tag "arrow_right",:class => 'right_image' %>
      <span id="work"></span>
    </div>
    <div class="tag">
      <span>工作</span>
    </div>
  </div>
  <div class="tags">
    <div class="image_width" onclick="get_address()">
      <%= image_tag "arrow_right",:class => 'right_image' %>
      <span id="address"></span>
    </div>
    <div class="tag">
      <span>地址</span>
    </div>
  </div>
  <div class="tags">
    <div class="image_width" onclick="get_star()">
      <%= image_tag "arrow_right",:class => 'right_image' %>
      <span id="star"></span>
    </div>
    <div class="tag">
      <span>星座</span>
    </div>
  </div>
  <div class="tags">
    <div class="tag">
      <span>电话</span>
      <span id="photo" onclick="set_photo()" style="float: right;margin-right: 30px;">11111111111</span>
      <input onchange="get_photo(this.value)" type="text" id="input_photo" style="display: none;float: right;margin-right: 30px;line-height: 20px;margin-top: 10px;width: 90px;" />
    </div>
  </div>
  <button class="confirm_button1" onclick="set_user_information()">保存信息</button>
</div>

<%= render 'user_information/address' %>
<%= render 'user_information/degree' %>
<%= render 'user_information/height' %>
<%= render 'user_information/hobby' %>
<%= render 'user_information/star' %>
<%= render 'user_information/work' %>
</div>
